#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.agentInfo {
  flex: 0 0 18%;
  text-align: center;
}

.shipInfo {
  flex: 0 0 18%;
  text-align: center;
}

.bottomTextArea {
  width: 80vw;
  height: 15rem;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

#terminalScreen {
  background-color: black;
  color: green;
  font-family: "Courier New", monospace;
  white-space: pre-wrap;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: left;
  /* Add styling for the cursor if needed */
}
